%p#notice= notice

%p
  %b Shortened url:
  = link_to short_url(code: @short_url.code), short_url(code: @short_url.code)
%p
  %b Original url:
  = @short_url.original_url

= link_to 'Back', root_path
